
:root {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
  font-size: 1.2em;
  margin:0;
  background-color: rgb(211,211,211);
}

.App {
  min-height: 90vh;
  display:flex;
  flex-direction: column;
}

.profile-grid > div {
  margin-top:0.5em;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

.profile-grid > div > * {
  width: 90%;
  font-size: 1em;
}

.profile-grid input {
  border-radius: 5px;;
  border-style: none;
}



.top-banner {
    display:flex;
    align-items: center;
    justify-content: center;
    position:relative;
    background-color: darkmagenta;
    color:white;
    font-size:1.5rem;
    flex-grow: 0;
    flex-shrink:1;
    flex-basis: 15vh;
}

.top-banner > img {
    max-width: 15%;
    object-fit: cover;
    position:absolute;
    left:10px;
}

.page-main-content {
    flex-grow: 1;
    flex-shrink:0;
    flex-basis:720px;
}




nav.top-menu>ul {
  display: flex;
  list-style: none;
  background-color: aliceblue;
  margin-left: 2em;
  width:fit-content;
  padding-right:2em;
}

nav.top-menu>ul>li {
  background-color:deepskyblue;
  padding:.5em 1em;
  cursor: pointer;
  margin: .3em 0;
  text-transform: capitalize;
  position: relative;
  color:white;
}

nav.top-menu>ul> li + li {
  margin-left:1em;
}

.submenu {
  background-color: deepskyblue;
  padding:.5em 1em;
  cursor: pointer;
  margin: .3em 0;
  text-transform: capitalize;
  position: absolute;
  z-index:1;
  left:0;
  top:1.7em;
  width: 120%;
  
  flex-direction: column;
  list-style-type: none;
}

.submenu--show {
  display: flex;
}

.submenu--hide {
  display: none;
}

.submenu>li {
  border-top: 0;
  border-bottom:1px solid;
  max-width:150%;
  margin-top:.5em;
  list-style-type: none;
}

.topmenu-item {
  display: flex;
  align-items: center;
}

.submenu-toggler {
  border-top: 10px solid cadetblue;
  border-bottom: 10px solid transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  margin-left: 5px;
}

.submenu-toggler--down {
  border-top: 10px solid cadetblue;
  border-bottom: 10px solid transparent;
}

.submenu-toggler--up {
  border-top: 10px solid transparent;
  border-bottom: 10px solid cadetblue;
}
.hide {
  display:none;
}

.show {
  display: block;
}



.main-page {
  padding:1em 2em;
  height:100%;
  display:flex;
  flex-direction: column;
  
}

.main-page-header {
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
}

.main {
    overflow-y: auto;
    flex:99;
}

.test-criteria-sidebar {
  position: fixed;
  top:1em;
  right:1em;
  display:grid;
  grid-template-columns: 3fr 2fr;
  font-size:1.2rem;
  line-height: 1rem;
  color: coral;
  margin-right:0;
  row-gap: .5em;
  text-transform: none;
  border: 1px solid;
  border-color: aliceblue;
  color:white;
  background-color:darkcyan;
  padding:.5em;
}

main-page-test-criteria div {
  margin-top:0;
  margin-bottom: 0;
}


.main-page-main {
  flex:5;
  background-color:lightblue;
  color:#1547aa;
  font-size: 1.5em;
  padding:1em 2em;
  line-height: 1.5em;
  text-transform: capitalize;
  position: relative;
}

.main-page-main h3 {
    font-size: 2rem;
    color:#1547aa
}


.myapp-history{
  border: 1px solid;
  width:70%;
  height:5vh;
}

.myapp-history + .myapp-history {
  margin-top:1em;
}


.myapp-newapp {
    padding:.5em 1em;
    border: 1px solid;
    width:70%;
    font-size: 1.5rem;
    color: black;
}

.myapp-newapp > div:hover {
    cursor: pointer;
    text-shadow: 2px 2px #FFFFFF;
}

/* home */
.home {
  color: black;
}

.home-selected {
  color:blueviolet;
  font-size: 1.5rem;
}

.home-selected>div:hover {
  text-shadow: 2px 2px #FFFFFF;
  cursor: pointer;
}

.home-selected--1 {
  margin-left: 1em;
}

.home-selected--2 {
  margin-left: 2em;
}

.home-selected--3 {
  margin-left: 3em;
}

.home-selected--4 {
  margin-left: 4em;
}

.home-options {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.home-extra {
  color:rgb(157, 150, 91);
  font-size: 1.5rem;
}

.home-option>div:hover {
  text-shadow: 2px 2px #FFFFFF;
  cursor: pointer;
}
.home-option {
  color:cornflowerblue;
  font-size: 1.5rem;
  margin-top: .5rem;
  flex: 1 1 0;
}



.slider {
    margin-top:80vh;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    flex:1;
    z-index:2;
    cursor: pointer;
  }
  
  .slider--left {
    border-right: 40px solid rgb(216, 119, 50);
  }
  
  .slider--right {
    border-left: 40px solid rgb(216, 119, 50);
  }
  

  .tab-main {
    min-height: 20vh;

    border: 1px solid;
    border-radius: 0 0 5px 5px;
    border-top-width: 1px;
    
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-color: darkseagreen;

    padding:0.5em 1em;
    color: black;

    text-transform: none;
}

  .tab-header-row {
      display:flex;
      justify-content: flex-start;
      position: relative;

  }

  .tab-header {
      border: 1px solid;
      border-radius: 5px 5px 0 0;
      border-left-width: 0;
      border-right-width: 1;
      border-bottom-width: 0;
      padding: 0 .5em;
      text-transform: capitalize;
      border-color: darkseagreen;
      background-color: rgb(7, 105, 180);
      color:white;
  }

  .tab-header:first-child {
    border-left-width: 1px;
  }

  .tab-header:last-child {
    border-right-width: 1px;
  }

  .tab-header.tab-header--selected {
    border-left-width: 2px;
    border-right-width: 2px;
    border-style: outset;
    color:rgb(206, 232, 129);
  }


  .myprofile-aboutme-grid {
      display:grid;
      grid-template-columns: 1fr 5fr;
      font-size:1.5rem;
      column-gap: 2em;
      height: auto;
  }

  .myprofile-aboutme-grid > div:nth-child(4n+1),
  .myprofile-aboutme-grid > div:nth-child(4n+2)
  {
    color: #102e6e;
  }


  .myprofile-aboutme-grid input {
    font-size:1.5rem;
    width: 60%;
    border-radius: 5px;
    border-style: none;
}

.rltn-grid {
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    width:70%;
    font-size:1.2rem;
    column-gap: 2px;
}

.rltn-grid-header {
    font-weight: 700;
    background-color: #1b52c6;
    color: white;
    padding: .5em;
    display: flex;
    align-items: center;
    text-align: center;
    line-height: 1.5em;
}


.rltn-grid-odd-row {
    background-color: #f4f6f0;
    color: black;
    padding: .5em;
    display: flex;
    align-items: center;
    text-align: center;
    line-height: 1.5em;
}


.rltn-grid-even-row {
    background-color: #ebd8ec;
    color: black;
    padding: .5em;
    display: flex;
    align-items: center;
    text-align: center;
    line-height: 1.5em;
}
.rltn-grid-section-title {
    margin-top:2em;
}
.myprofile-rltns > .rltn-grid-section-title:first-child {
    margin-top: 0;
}

.icons-cell {
    display: flex;
    justify-content: space-around;
}

.icons-cell > .fa-solid {
    cursor: pointer;
}


.paid-invoice-grid {
    display:grid;
    grid-template-columns: repeat(8, 1fr);
    width:85%;
    font-size:1.2rem;
    column-gap: 2px;
}


.rltn-grid-business-salesperson {
    display:grid;
    grid-template-columns: repeat(10, 1fr);
    width:70%;
    font-size:1.2rem;
    column-gap: 2px;
}


.rltn-grid-business-makeup {
    display:grid;
    grid-template-columns: repeat(9, 1fr);
    width:70%;
    font-size:1.2rem;
    column-gap: 2px;
}