.start h2 {
    text-align: center;
    font-size: 2rem;
}

.start {
    margin:0.5em 1.5em;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size:1.2rem;
    text-align: center;
}

.start h4 {
    font-size: 1.5rem;
    margin-bottom: .2em;
}

.start p {
    margin: 0.5em 0;
}

.start button{
    margin-top:3em;
    width:200px;
    padding:0.5em 1em;
    font-size:1.5rem;
    background-color: rgb(25, 44, 249);
    color:white;
    border-radius: 10px;
}

.start-intro, .start-usages {
    border-radius: 10px;
    border-color: blue;
    border-style: solid;
    border-width: 1px;
    margin-top:10px;
    padding:.5em 1em;
}